ion-card{
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.xdd{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
img{
 width: 10rem;
 height: 10rem;
}